  /* Estilo para resaltar frases traducidas */
  .highlighted-right {
    background-color: #bfe6e6; 
  }

  .selected{
    background-color:#b6e7be;
  }

  .selected-word-info{
    background-color:#abdff6;
  }
  .selected-word-success{
    background-color:#cbffcf;
  }
  .selected-word-warning{
    background-color:#fff5cb;
  }


  .selected-times{
    background-color:#e7b6b6;
  }

  /* En tu archivo CSS o en línea en tu componente */
.disabled {
  background-color: lightgray; /* Cambia el color de fondo a tu preferencia */
  pointer-events: none; /* Desactiva la interacción con el botón */
}

.mi-toast {
  max-width: auto; 
  overflow: scroll;/* Puedes ajustar el valor a tu preferencia */
}

.translated-phrase {
  display: flex; /* Hace que los elementos dentro de este div se alineen en una fila */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Espaciado uniforme entre los elementos */
  margin-bottom: 10px; /* Agrega espacio entre cada frase traducida */
}

.button-row {
  display: flex; /* Alinea los botones en una fila */
  gap: 5px; /* Agrega un pequeño espacio entre los botones */
  align-items: center; /* Centra verticalmente los botones con respecto al texto */
}

.custom-toggle-button {
  font-size: 10px; /* Ajusta el tamaño de la fuente según tus necesidades */
  padding-top:0px;  
  padding-bottom:0px; 
  margin-left: 10px;
}

tr {
  display: flex;
  align-items: stretch;
}

.text-row{
  width: 100%;
}
/* Establece una altura mínima para las celdas con botones */
.button-row {
  min-height: 40px; /* Ajusta la altura mínima según tus necesidades */
}
