/* Sidebar.css */
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 20px;
  }
  
  .content {
    margin-left: 250px; /* Ancho del sidebar */
    padding: 15px;
  }
  