
/* Reset de estilos para quitar márgenes y rellenos predeterminados */
body, h1, p, ul, li, form {
  margin: 0;
  padding: 0;
}

/* Estilos generales para la página */
.landing-page {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Estilos para la barra de navegación */
header {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* Estilos para las secciones izquierda y derecha */
main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0;
}

.left-section {
  width: 60%;
  text-align: left;
  padding: 20px;
}

.right-section {
  width: 35%;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario de registro */
.right-section h2 {
  margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
